#### Bonus - 8.13 DeeDee Walker

In [1]:
import pandas as pd

In [2]:
import re

In [3]:
zips = pd.Series({'New Orleans': '70117', 'Liberty':'64068', 'Friday Harbor': '98250'})

In [4]:
zips.str.match(r'\d{5}')

New Orleans      True
Liberty          True
Friday Harbor    True
dtype: bool

#### Bonus - 8.13 DeeDee Walker

In [12]:
cities = pd.Series(['New Orleans, LA 70117', 'Liberty, MO 64068', 'Friday Harbor, WA 98250'])

In [13]:
cities.str.contains(f'[A-Z]{2}') #not sure why this not returning True on at least indices 1

0    False
1    False
2    False
dtype: bool

In [14]:
cities.str.match(f'[A-Z]{2}')

0    False
1    False
2    False
dtype: bool

#### Bonus - 8.13 DeeDee Walker

In [15]:
contacts = [['DeeDee Walker', 'ddwalk_77@gmail.com', '7775192683'],
            ['Rusty Nelson', 'rust_59@walker.com', '8167773444'],
            ['Phoenix Ricardo', 'pbird@lejeune.com', '5046937777']]

In [16]:
contactsdf = pd.DataFrame(contacts, columns=['Name', 'Email', 'Phone'])

In [17]:
def get_formatted_phone(value):
    result = re.fullmatch(r'(\d{3})(\d{3})(\d{4})', value)
    return '-'.join(result.groups()) if result else value

In [18]:
formatted_phone = contactsdf['Phone'].map(get_formatted_phone)

In [19]:
contactsdf['Phone'] = formatted_phone

In [20]:
contactsdf

              Name                Email         Phone
0    DeeDee Walker  ddwalk_77@gmail.com  777-519-2683
1     Rusty Nelson   rust_59@walker.com  816-777-3444
2  Phoenix Ricardo    pbird@lejeune.com  504-693-7777

#### SelfCheck 8.13 - DeeDee Walker

In [21]:
import pandas as pd

In [22]:
import re

In [23]:
contacts2 = [['DeeDee Walker', 'ddwalk_77@gmail.com', '7775192683'],
            ['Rusty Nelson', 'rust_59@walker.com', '8167773444'],
            ['Phoenix Ricardo', 'pbird@lejeune.com', '5046937777']]

In [24]:
contacts2df = pd.DataFrame(contacts2, columns=['Name', 'Email', 'Phone'])

In [25]:
def get_formatted_phone_updated(value):
    result = re.fullmatch(r'(\d{3})(\d{3})(\d{4})', value)
    if result:
        part1, part2, part3 = result.groups()
        return '(' + part1 + ') ' + part2 + '-' + part3
    else:       
        return value

In [26]:
formatted_phone2 = contacts2df['Phone'].map(get_formatted_phone_updated)

In [27]:
contacts2df['Phone'] = formatted_phone2

In [28]:
contacts2df

              Name                Email           Phone
0    DeeDee Walker  ddwalk_77@gmail.com  (777) 519-2683
1     Rusty Nelson   rust_59@walker.com  (816) 777-3444
2  Phoenix Ricardo    pbird@lejeune.com  (504) 693-7777